
/* The contents of this file are stored alphabetically
by type (class, element, id) and then by name */

.deanslist {
  color:blue;
}

.hide {
  display:none;
}

.inactive {
  color:blue !important;
}

.nav-link:hover {
  cursor:pointer;
}

.pointer {
  cursor:pointer;
}

.title {
  text-align: center;
  color: white;
}

#aboutme {
  display: none
}

#annotated-transcript {
  display: none
}

#athena {
  text-align: right;
}

#blog {
  display: none
}

#education {
  display: none
}

#employment {
  display: none
}

#headerbackground {
  background-color: black
}

#photography {
  display: none
}

#projects {
  display: none
}

#volunteer {
  display: none;
}
