
/* The contents of this file are stored alphabetically
by type (class, element, id) and then by name */

.center {
  text-align:center;
}

.dark {
  background-color: black;
}

.deanslist {
  color:blue;
  font-weight: bold;
}


.hide {
  display:none;
}

.inactive {
  color:blue !important;
}

.lighttext {
  color:#bbbbbb
}

.list-group-special {
  border-radius: 2px
}

.max100 {
  max-width: 100%
}

.nav-link:hover {
  cursor:pointer;
}

.pointer {
  cursor:pointer;
}

.title {
  text-align: center;
  color: white;
}

#aboutme {
  display: none
}

#annotated-transcript {
  display: none
}

#athena {
  text-align: right;
}

#blog {
  display: none
}

#education {
  display: none
}

#employment {
  display: none
}

#gpagraph {
  max-width: 100%
}

#headerbackground {
  background-color: black
}

#photography {
  display: none
}

#projects {
  display: none
}

#volunteer {
  display: none;
}
