<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    {% load static %}

    <meta charset="utf-8">
    <title></title>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'resume/home.css' %}">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    {% block extrahead %}
    {% endblock %}
  </head>

  <body>

    <div id="app">

      <div class="container-fluid" id='headerbackground'>
        <div class="row">
          <div class="col-md-4">
            <img src="{% static 'resume/forexcellence.png' %}" alt="">

          </div><!--/col-md-4-->
          <div class="col-md-4">
            <br>
            <br>
            <br>
            <h3 class="title">Eli Ginsburg-Marcy</h3>
            <h4 class="title">Curriculum Vitae</h4>
          </div><!--/col-md-4-->

          <div class="col-md-4">
            <div id="athena">
              <img src="{% static 'resume/athena.jpg' %}" title="This image is derived from an image in the public domain. For more information, visit https://commons.wikimedia.org/wiki/File:Athena_Giustiniani.jpg" alt="">
            </div>

          </div><!--/col-md-4-->
        </div><!--/row-->
        <div class="row">
          <div class="col-xs-12">
            <ul class="nav nav-pills">
              <li class="nav-item">
                <a class="nav-link active" id='tab0' v-on:click="show_tab('#home')">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link inactive" id='tab1' v-on:click="show_tab('#education')">Education and Awards</a>
              </li>
              <li class="nav-item">
                <a class="nav-link inactive" id='tab2' v-on:click="show_tab('#employment')">Employment</a>
              </li>
              <li class="nav-item">
                <a class="nav-link inactive" id='tab3' v-on:click="show_tab('#volunteer')">Volunteer Experience</a>
              </li>
              <li class="nav-item">
                <a class="nav-link inactive" id='tab4' v-on:click="show_tab('#projects')">Projects</a>
              </li>
              <li class="nav-item">
                <a class="nav-link inactive" id='tab5' v-on:click="show_tab('#aboutme')">Amout Me</a>
              </li>
              <li class="nav-item">
                <a class="nav-link inactive" id='tab6' v-on:click="show_tab('#photography')">Photography</a>
              </li>
              <li class="nav-item">
                <a class="nav-link inactive" id='tab7' v-on:click="show_tab('#blog')">Blog</a>
              </li>
            </ul>
          </div><!--/col-xs-12-->
        </div> <!--/row-->
      </div>

      {% block content %}
      {% endblock %}

    </div>
    <script src="{% static 'resume/homepage.js' %}"></script>
  </body>
</html>
