{% extends "base_generic.html" %}
{% block extrahead %}

{% endblock %}
{% block content %}
{% load static %}
<div class="container">
  <div id="home">
    <div class="row">
      <div class="col-lg-3 col-md-4">
        <br>
        <div class="card text-white bg-dark">
          <div class="card-header">
            Welcome
          </div>
          <div class="card-body">
            <p>{{ welcome_text }}</p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-4">
        <br>
        <div id="carouselControls" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img class="d-block w-100" src="{% static 'resume/portrait.jpg'%}" alt="First slide">
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="{% static 'resume/ACT.jpg' %}" alt="Second slide">
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="{% static 'resume/me.jpg' %}" alt="Third slide">
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
      <div class="col-lg-3 col-md-4">
        <br>
        <div class="card text-right text-white bg-dark">
          <div class="card-header">
            Wise Words
          </div>
          <div class="card-body">

            <h5 class="card-title">[[ quote_author ]]</h5>
            <h6 class="card-subtitle mb-2 text-muted">[[ qauthor_desc ]]</h6>
            <p class="card-text">[[ quote ]]</p>
            <br>
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="authorDropDown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Select a Thinker
              </button>
              <div class="dropdown-menu" aria-labelledby="authorDropDown">
                {% for quote_item in quote_list %}
                <a class="dropdown-item" v-on:click="get_quote('{{quote_item.author}}')" id="author{{ quote_item.pk }}">{{ quote_item.author }}</a>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div id="education">
    <div class="row">
      <div class="col-sm-12">
        <br>
        <h3>Education</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="card text-white bg-dark">
          <div class="card-header">
            <h3>Bachelor of Arts from the University of Minnesota, Twin Cities</h3>
          </div>
          <div class="card-body">
            <ul class="list-group list-group-flush list-group-special">
              <li class="list-group-item list-group-item-dark">Dates Attended: 09/2008 - 05/2012</li>
              <li class="list-group-item list-group-item-dark">Major: Classical Civilizations</li>
              <li class="list-group-item list-group-item-dark">Minor: Russian Language</li>
              <li class="list-group-item list-group-item-dark">GPA: 3.85</li>
              <li class="list-group-item list-group-item-dark">GPA in Major: 3.96</li>
            </ul>
            <br>
            <a v-if="show_transcript" v-on:click="hide_transcript()" class="btn btn-primary">Hide annotated transcript</a>
            <a v-else v-on:click="get_sems()" class='btn btn-primary'>View annotated transcript</a>

          </div>
        </div>
      </div>
      <div class="col-md-6">
        <br>
        <img src="{% static 'resume/graph.png' %}" id="gpagraph" alt="">
        <div v-if="show_transcript" class="annotated-transcript">
          <div class="accordion" id='transcriptAccordion'>
            <div class="text-white bg-dark text-center p-2">Semesters for which I made the deans list are rendered in blue text. Click a semester to expand it. Click courses within each semester to read more about them.</div>
            <div v-for="sem in sems" class="semester">
              <div class="card text-white bg-dark">
                <div class="card-header pointer" v-bind:id="'sem'+sem.id+'header'">
                  <a v-on:click="get_courses(sem.url)" data-toggle="collapse" v-bind:data-target="'#sem'+sem.id+'body'" aria-expanded="true" v-bind:aria-controls="'sem'+sem.id+'body'">
                    <span v-bind:class="{deanslist: sem.deans_list}">
                      [[ sem.time_period ]]
                    </span>
                     - GPA: [[ sem.gpa ]]
                   </a>
                </div>
                <div v-bind:id="'sem'+sem.id+'body'" class="collapse" v-bind:aria-labelledby="'sem'+sem.id+'header'" data-parent="#transcriptAccordion">
                  <div class="card-body">
                      <div v-bind:id="'sem'+ sem.id" v-if="sem.url == target_sem">
                        <div v-for="course in courses">
                          <table class="table table-sm">
                            <thead class="thead-dark">
                              <tr class="pointer" v-on:click="toggle_course('#course'+ course.id)">
                                <th scope="col">[[ course.course_title ]]</th>
                                <th scope="col">[[ course.grade ]]</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr v-bind:id="'course' + course.id"  class="hide">
                                <td colspan=2>[[ course.description ]]</td>
                              </tr>
                            </tbody>


                          </table>

                        </div>
                      </div>
                  </div>
                </div>


              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <hr>
        <h3>Academic Awards</h3>
      </div>
    </div>
    <div class="row">
      <div v-for="award in awards" class="col-lg-4">
        <div class="card text-white bg-dark">
          <img class="card-img-top" v-if="award.img" v-bind:src="'/static/resume/' + award.img" alt="">
          <div class="card-header">
            [[ award.award_name ]]
          </div>
          <div class="card-body">
            <div v-if="award.award_name == 'AP Scholar with Distinction'" class="">
              <table class="table table-sm">
                <thead class="thead-dark">
                  <tr>
                    <th class="center">Course</th>
                    <th class="center">AP Score</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="apcourse in apcourses">
                    <td>[[ apcourse.course ]]</td>
                    <td>[[ apcourse.score ]]</td>
                  </tr>
                </tbody>
              </table>
            </div>
            [[ award.award_description ]]
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <br>
        <h3>Current Languages</h3>
      </div>
    </div>
    <div class="row">
      <div v-for="lang in current_lang" class="col-md-6">
        <div class="card bg-dark text-white pointer" v-bind:id="'lang'+lang.id" v-on:click="get_langdetails('#lang'+lang.id+'body',lang.id)">
          <div class="card-header">
            [[ lang.language ]]
          </div>
          <div class="card-body">
            [[ lang.proficiency]]
            <div class="hide" v-if="'#lang'+lang.id+'body' == target_lang" v-bind:id="'lang'+lang.id+'body'">
              <ul>
                <li v-for="detail in lang_details">[[ detail ]]</li>
              </ul>
            </div>
          </div>

        </div>
        <br>

      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h3>Prior Languages</h3>
      </div>
    </div>
    <div class="row">
      <div v-for="plang in past_lang" class="col-md-6">
        <div class="card bg-dark text-white pointer" v-bind:id="'lang'+plang.id" v-on:click="get_langdetails('#lang'+plang.id+'body', plang.id)">
          <div class="card-header">
            [[ plang.language ]]
          </div>
          <div class="card-body">
            [[ plang.proficiency ]]
            <div class="hide" v-if="'#lang'+plang.id+'body' == target_lang" v-bind:id="'lang'+plang.id+'body'">
              <ul>
                <li v-for="detail in lang_details">[[ detail ]]</li>
              </ul>
            </div>
          </div>
        </div>
        <br>
      </div>
    </div>
  </div>
  <div id="employment">
    <br>
    <p>employment here</p>
  </div>
  <div id="volunteer">
    <br>
    <p>volunteer experience</p>
  </div>
  <div id="projects">
    <br>
    <p>projects</p>
  </div>
  <div id="aboutme">
    <br>
    <p>aboutme</p>
  </div>
  <div id="photography">
    <br>
    <p>Photos</p>
  </div>
  <div id="blog">
    <br>
    <p>Blog</p>
  </div>

</div> <!--/container-->



{% endblock %}
